

<div *ngIf="book" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
  <h2> {{book.name}}</h2>
  <br>
  <h2>Author Name: </h2> <h5> {{book.author}}</h5>
  <br>
  <h2>ISBN: </h2> <h5> {{book.isbnCode}}</h5>
  <br>
  <h2>Publish Date: </h2> <h5> {{book.publishDate | date}}</h5>
  <br>
  <h2>Category: </h2> <h5> {{book.category}}</h5>
  <br>
  <h2>Amount of books: </h2> <h5> {{book.amount - book.booksIssued}}</h5>
  <br>
  <h2>Books Issued: </h2> <h5> {{book.booksIssued}}</h5>
  <br>
    <button class="btn btn-lg btn-success" (click)="issueBook(book.id)"
    type="button" name="button">Issue Book</button>
</div>

<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
  <h2>Transactions</h2>
  <br>
  <ul *ngFor="let transaction of transactions">
    <li>Transaction ID: {{transaction.id}}</li>
    <li>Issue Date: {{transaction.issueDate | date}}</li>
      <button *ngIf="!transaction.returnDate" class="btn-lg btn-warning"
      (click)="return(transaction.id)" type="button" name="button">Return</button>
    <li *ngIf="transaction.returnDate">Return Date: {{transaction.returnDate | date}}</li>
  </ul>

</div>
