<div class="nav navbar-fixed">
    <nav>
        <div class="container">
            <a [routerLink]="['/']" class="brand-logo">Library</a>
            <a href="#" class="button-collapse right"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a [routerLink]="['/books/add']">New Book</a></li>
                <li><a [routerLink]="['/']">Explore</a></li>
                <li><a [routerLink]="['/categories']">Categories</a></li>
            </ul>
        </div>
    </nav>
</div>


<div class="container">
  <router-outlet></router-outlet>
</div>
