<div class="layout">

  <div *ngIf="books" class="books">
  <div class="divider">  </div>
    <table class="table">
      <thead>
        <tr>
          <th>Book Name</th>
          <th>Author Name</th>
          <th>ISBN</th>
          <th>Publish Date</th>
          <th>Category</th>
          <th>Amount of books</th>
          <th>Books Issued</th>
        </tr>
      </thead>

      <tbody>
        <tr class="table-secondary" *ngFor="let book of books">
          <th scope="row"><a href="/book/{{book.id}}">{{book.name}}</a></th>
          <td>{{book.author}}</td>
          <td>{{book.isbnCode}}</td>
          <td>{{book.publishDate | date}}</td>
          <td>{{book.category}}</td>
          <td>{{book.amount}}</td>
          <td>{{book.booksIssued}}</td>
          <button class="btn-sm btn-danger" type="submit" (click)="delete(book.id)" name="button">Delete</button>
          <button class="btn-sm btn-warning" type="submit" (click)="edit(book.id)" name="button">Edit</button>
        </tr>
      </tbody>

    </table>
  </div>

</div>
